        <section id="contact">
                <div class="container">
                    <div class="col-sm-6 col-sm-offset-3" data-wow-duration="1.5s" data-wow-offset="10" data-wow-delay="0.5s">
                        <br/><br/>
                        <a href="#contact" class="btn btn-success btn-lg btn-rounded contact-button"><i class="fa fa-envelope-o"></i></a>
                        <h2>Let's keep in touch</h2>
                        <h3><code >ashish2py</code > [at] <code > gmail </code> [dot] <code> com </code> </h3>
                        <h3><code >+91</code > [-] <code > 9920707 </code> [-] <code> 668 </code> </h3>
                        <br/><br/>
                    </div>
                </div>
        </section>
        <footer>
            <div class="container">
                <p class="text-center no-s"> © | 2015 | ashishtiwari</p>
            </div>
        </footer>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-79526517-1', 'auto');
          ga('send', 'pageview');

        </script>

        <!-- Javascripts -->
        <script src="/plugins/jquery/jquery-2.1.3.min.js"></script>
        <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="/plugins/pace-master/pace.min.js"></script>
        <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/plugins/uniform/jquery.uniform.min.js"></script>
        <script src="/plugins/wow/wow.min.js"></script>
        <script src="/plugins/smoothscroll/smoothscroll.js"></script>
        <script src="/plugins/tabstylesinspiration/js/cbpfwtabs.js"></script>
        <script src="/js/landing.js"></script>
