<div class="item col-xs-6 col-sm-6 col-md-4">
    <figure class="overlay">
        <a href="{{include.route}}">
            <div class="text-overlay caption">
                <div class="info">
                    <h2 class="post-title">{{include.title}}</h2>
                    <div class="meta"> <span class="count">{{include.photos_count}} Photos</span> <span class="category">{{include.category}}</span></div>
                </div>
            </div>
            <img src="{{include.cover}}" alt="" /></a>
    </figure>
</div>
