<nav id="header" class="navbar navbar-fixed-top whiteHeader">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <a class="navbar-brand" href="/">Ashish Tiwari</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                {% if page.title %}
                    <li><a href="/blog/" style="border-bottom: 4px solid #5bc0de;color:#d9534f; font-size:1.6em;"><b>Blog</b></a></li>
                    <li><a href="/photography/" style="border-bottom: 4px solid #d9534f;color:#5bc0de;font-size:1.6em;"><b>Photography</b></a></li>
                {% else %}
                    <li><a href="#home">Street</a></li>
                    <li><a href="#features">Potrait</a></li>
                    <li><a href="#work">Travel</a></li>
                    <li><a href="#project">Work</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#contact">Contact</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
