<div class="collage-image-wrapper">
    <div class="overlay">
        {% if include.url %}
            <a href="{{ include.url }}" class="lgitem" data-sub-html="#caption{{include.index}}" title="{{ include.title }}">
        {% endif %}
            <img src="{{ include.img }}" alt="{{ include.title }}" />
        {% if include.url %}
        </a>
        {% endif %}
        {% if include.title %} 
          <div id="caption{{include.index}}" class="hidden">
            <h3>{{ include.title }}</h3>
            <p>{{ include.caption }}</p>
          </div>
        {% endif %}
    </div>
</div>
