--- 
layout: default 
---
<div class="container inner">
    <div class="blog row">
        <div class="col-sm-8">
            <div class="blog-content classic-view single">
                <div class="blog-posts">
                    <div class="post">
                        <div class="post-content">
                            <h1 class="post-title text-center">{{page.title}}</h1>
                            <div class="meta text-center"><span class="date">{{ page.date | date: "%b %-d, %Y" }}</span>                            
                            <span class="category"><a href="#">{{page.tags}}</a></span>
                            <span class="category"><a href="#">{{page.author}}</a></span></div>
                            
                            {{content}}

                        </div>
                        <!-- /.post-content -->
                    </div>
                </div>
                <!-- /.blog-posts -->
            </div>
            <!-- /.classic-view -->
        </div>
        <!-- /.blog-content -->
        <aside class="col-sm-4 sidebar">            
            <!-- /.widget -->
            <div class="sidebox widget">
                <h3 class="widget-title">Popular Posts</h3>
                <ul class="post-list">
                    {% for post in site.posts %}
                    <li>
                        <figure class="overlay small">
                            <a href="blog-post.html"><img src="{{post.img}}" alt="" /> </a>
                        </figure>
                        <div class="post-content">
                            <h4 class="post-title"> <a href="blog-post.html">{{post.title}}</a> </h4>
                            <div class="meta"><span class="date">{{ post.date | date: "%b %-d, %Y" }}</span><span class="category"><a href="#">{{post.tags}}</a></span></div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <!-- /.post-list -->
            </div>
            <!-- /.widget -->
            <div class="sidebox widget">
                <h3 class="widget-title">Categories</h3>
                <ul class="list circled">
                    <li><a href="#">Lifestyle (21)</a></li>
                    <li><a href="#">Photography (19)</a></li>
                    <li><a href="#">Journal (16)</a></li>
                    <li><a href="#">Works (7)</a></li>
                    <li><a href="#">Conceptual (12)</a></li>
                    <li><a href="#">Videography</a></li>
                </ul>
            </div>
            <!-- /.widget -->
            <div class="sidebox widget">
                <h3 class="widget-title">Tags</h3>
                <ul class="tag-list">
                    <li><a href="#" class="btn">Still Life</a></li>
                    <li><a href="#" class="btn">Urban</a></li>
                    <li><a href="#" class="btn">Journal</a></li>
                    <li><a href="#" class="btn">Nature</a></li>
                    <li><a href="#" class="btn">Landscape</a></li>
                    <li><a href="#" class="btn">Macro</a></li>
                    <li><a href="#" class="btn">Workshop</a></li>
                    <li><a href="#" class="btn">Photography</a></li>
                </ul>
            </div>
            <!-- /.widget -->
            <div class="sidebox widget">
                <h3 class="widget-title">Instagram</h3>
                <div class="tiles instagram">
                    <div id="instafeed-widget" class="items row row-offset-0"></div>
                </div>
                <!--/.tiles -->
            </div>
            <!-- /.widget -->
            <div class="sidebox widget">
                <h4 class="widget-title">Search</h4>
                <form class="searchform" method="get">
                    <input type="text" id="s1" name="s" value="Search something" onfocus="this.value=''" onblur="this.value='Search something'">
                </form>
            </div>
            <!-- /.widget -->
        </aside>
        <!-- /column .sidebar -->
    </div>
    <!-- /.blog -->
</div>
