--- 
layout: default 
---
<div class="container inner">
    <div class="blog row">
        <div class="col-sm-8 blog-content list-view">
            <div class="blog-content">

                {% for post in site.posts %}
                <div class="blog-post">
                    <div class="post row">
                        <div class="col-md-5">
                            <figure class="overlay">
                                <a href="{{ post.url | prepend: site.baseurl }}"> <img src="{{post.img}}" alt="" /></a>
                            </figure>
                        </div>
                        <!-- /column -->
                        <div class="col-md-7">
                            <div class="post-content">
                                <h3 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h3>
                                <div class="meta"><span class="date">{{ post.date | date: "%b %-d, %Y" }}</span><span class="category"><a href="#">{{post.tags}}</a></span>
                                <span class="category"><a href="#">{{post.author}}</a></span></div>
                                <p>{{ post.excerpt }}</p>
                                <a href="{{ post.url | prepend: site.baseurl }}" class="more">Read More</a> </div>
                            <!-- /.post-content -->
                        </div>
                        <!-- /column -->
                    </div>
                    <!-- /.post -->
                </div>
                {% endfor %}
            </div>
            <!-- /.blog-content -->
            <div class="pagination">
                <ul>
                    <li><a class="btn btn-square btn-icon" href="#"><i class="ion-android-arrow-back"></i></a></li>
                    <li class="active"><a class="btn btn-square" href="#"><span>1</span></a></li>
                    <li><a class="btn btn-square" href="#"><span>2</span></a></li>
                    <li><a class="btn btn-square" href="#"><span>3</span></a></li>
                    <li><a class="btn btn-square btn-icon" href="#"><i class="ion-android-arrow-forward"></i></a></li>
                </ul>
            </div>
            <!-- /.pagination -->
        </div>
        <!-- /.blog-content -->
        <aside class="col-sm-4 sidebar">
            <div class="sidebox widget">
                <h3 class="widget-title">Popular Posts</h3>
                <ul class="post-list">
                    {% for post in site.posts %}
<li>
    <figure class="overlay small">
        <a href="{{ post.url | prepend: site.baseurl }}"><img src="{{post.img}}" alt="" /> </a>
    </figure>
    <div class="post-content">
        <h4 class="post-title"> <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a> </h4>
        <div class="meta"><span class="date">{{ post.date | date: "%b %-d, %Y" }}</span><span class="category"><a href="#">{{post.tags}}</a></span></div>
    </div>
</li>
{% endfor %}

                </ul>
                <!-- /.post-list -->
            </div>
            <!-- /.widget -->
            <div class="sidebox widget">
                <h3 class="widget-title">Categories</h3>
                <ul class="list circled">
                    <li><a href="#">Lifestyle (21)</a></li>
                    <li><a href="#">Photography (19)</a></li>
                    <li><a href="#">Journal (16)</a></li>
                    <li><a href="#">Works (7)</a></li>
                    <li><a href="#">Conceptual (12)</a></li>
                    <li><a href="#">Videography</a></li>
                </ul>
            </div>
            <!-- /.widget -->
            <div class="sidebox widget">
                <h3 class="widget-title">Tags</h3>
                <ul class="tag-list">
                    <li><a href="#" class="btn">Still Life</a></li>
                    <li><a href="#" class="btn">Urban</a></li>
                    <li><a href="#" class="btn">Journal</a></li>
                    <li><a href="#" class="btn">Nature</a></li>
                    <li><a href="#" class="btn">Landscape</a></li>
                    <li><a href="#" class="btn">Macro</a></li>
                    <li><a href="#" class="btn">Workshop</a></li>
                    <li><a href="#" class="btn">Photography</a></li>
                </ul>
            </div>
            <!-- /.widget -->
            <div class="sidebox widget">
                <h3 class="widget-title">Instagram</h3>
                <div class="tiles instagram">
                    <div id="instafeed-widget" class="items row row-offset-0"></div>
                </div>
                <!--/.tiles -->
            </div>
            <!-- /.widget -->
            <div class="sidebox widget">
                <h4 class="widget-title">Search</h4>
                <form class="searchform" method="get">
                    <input type="text" id="s1" name="s" value="Search something" onfocus="this.value=''" onblur="this.value='Search something'">
                </form>
            </div>
            <!-- /.widget -->
        </aside>
        <!-- /column .sidebar -->
    </div>
    <!-- /.blog -->
</div>
