---
layout: default
---


    <div class="container inner">
      <div class="google-map h450" data-lat="19.01441" data-lng="72.84794"></div>
      <div class="divide50"></div>
      <div class="row">
        <div class="col-sm-8">
          <h3>Get in Touch</h3>
          <p>{{page.title}}</p>
          <div class="divide10">            
          </div>
          <div>
            <strong>
              <abbr title="Phone">P:</abbr> {{page.phone}} <br>
              <abbr title="Email">E:</abbr> <a href="mailto:#">{{page.email}}</a>
            </strong>
            </div>

          
        </div>
        <!--/column -->
        
        <aside class="col-sm-4 sidebar">
          <div class="sidebox widget">
            <h3 class="widget-title">Address</h3>
            <p>Find My Address.</p>
            <address>            
            {{page.address}}
            </address>
          </div>
          <!-- /.widget --> 
          
        </aside>
        <!--/column --> 
        
      </div>
      <!--/.row --> 
    </div>
    <!-- /.container --> 
