--- 
layout: default 
--- 
{% if navigation %}current{% endif %}

<div class="container inner">
    
    <div class="hero text-center">
        <p>Hello! Thanks for taking some time to visit <b>ashishtiwari.me</b>.
            <br class="hidden-xs hidden-sm" /> Here you will be able to find my latest and favorite works.
        </p>
    </div>
    <!-- /.hero -->
    <div class="tiles">
        <div class="items row row-offset-0">
            {{content}}
        </div>
        <!--/.row -->
    </div>
</div>