--- 
layout: default 
--- 
{% if navigation %}current{% endif %}
<div class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <li data-transition="fade"> <img src="https://lh3.googleusercontent.com/qyvT2AuijEmtK4DEba16U4ySnCcEmd8x5rnq9N5a1mohYOF1BeIz52oLMI2-VkGRirVdjFa7bZIV5Nf_JmLy3sMNvKTpnnApC2VmAG9uz9xJblh0WIRHFFMo8P6vMEqea_AVeE34mLqHLlFk12zW4zf3VNfH2pBGxkXxTlVqVCNV0JfGhq1XXWgIjY8Z7B1k5H4vt46GXpXGfTqIMVlDlJrwQHsKl4ySV3_C62Gm3sVKdDLaKR89IiWJiuk3uMDMnSfTp6-vJoH6ly1VXix5me_xLEVbnoziuw4PS5u3IPruTS5iVTYLTP04SUz5x3SYjuzmX3PMBwtC01L4X8MHso3rY8jRAWwcVufVJwpk2tBuAoGWBqC2FhrpJKZSzMLsWvS6SGryjK0mfG6Lv4CFM0FjBVzoBnx7jIyov7Rhf-5t_BEF13isQN_0vAhonnBMnmowlBIRLaBilfnz4b-7sfvoUGXpZuqL5XgZaldAmBP7nvKD-tHYJcfvQWUNA0xYbBr-SDgqNKswgpmuNKmxg8_wuW_APLliOC3vhcCEwaWcsRT4xj1azKpadwp_pneIRDVnJTHav8vQBC96yUYPrBSnC9M3kqHySBiQeJ0muUJxBdeX_TwZSQ=w364-h242-no" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Power1.easeOut" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                <div class="tp-caption large" data-x="left" data-hoffset="70" data-y="center" data-voffset="['-90','-90','-75','-55']" data-fontsize="['45','45','35','25']" data-lineheight="['65', '65', '45', '36']" data-start="500" data-splitin="none" data-splitout="none" data-responsive="on" data-responsive_offset="on" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" style="z-index: 5;">Hi, I'm Ashish Tiwari.</div>
                <div class="tp-caption medium" data-x="left" data-hoffset="70" data-y="center" data-voffset="0" data-fontsize="['26','26','22','20']" data-lineheight="['40', '40', '34', '26']" data-start="1000" data-splitin="none" data-splitout="none" data-responsive="on" data-responsive_offset="on" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" style="z-index: 5;">Web, Android, ETL and Python Developer.
                    <br>Photographer, Trekker and Cyclist by weekend.</div>
                <a class="tp-caption btn btn-white" href="/portfolio/travel/" data-x="left" data-hoffset="70" data-y="center" data-voffset="['95','95','85','70']" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1300;e:Power4.easeInOut;" data-transform_out="s:1300;e:Power3.easeInOut;s:1300;e:Power3.easeInOut;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive="on" data-responsive_offset="on" style="z-index: 7;">See Portfolio</a>
            </li>
            <li data-transition="fade"> <img src="https://instagram.fbom8-1.fna.fbcdn.net/t51.2885-15/e35/18095328_656000594605671_5784400579170140160_n.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Power1.easeOut" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                <div class="tp-caption large text-center" data-x="center" data-y="center" data-voffset="['-30','-20','-30','-45']" data-fontsize="['45','45','35','25']" data-lineheight="['65', '65', '45', '36']" data-width="['1000','800','600','300']" data-whitespace="['normal','normal','normal','normal']" data-start="500" data-splitin="none" data-splitout="none" data-responsive="on" data-responsive_offset="on" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;e:Power2.easeOut;" data-transform_out="s:1300;e:Power3.easeInOut;s:1300;e:Power3.easeInOut;" style="z-index: 5;">Passionate Photographer</div>
                <div class="tp-caption medium text-center" data-x="center" data-y="center" data-voffset="['30','20','30','45']" data-fontsize="['26','26','22','20']" data-lineheight="['40', '40', '34', '26']" data-width="['1000','800','600','300']" data-whitespace="['normal','normal','normal','normal']" data-start="1000" data-splitin="none" data-splitout="none" data-responsive="on" data-responsive_offset="on" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;e:Power2.easeOut;" data-transform_out="s:1300;e:Power3.easeInOut;s:1300;e:Power3.easeInOut;" style="z-index: 5;">I love to turn ideas into beautiful things.</div>
            </li>            
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>
<!-- /.rev_slider -->
<div class="divide20"></div>
<div class="container inner">
    <div class="hero text-center">
        <p>I'm <b>Mumbai based fullstack developer </b> and currently working with <b>Zaya Learning Labs</b>. In my free time I like to tinker with Python, If it's weekend then I'm mostly busy with Trek, Travel and conceptual Photography. I love to turn ideas into beautiful things. If you would like to get in touch with me about building something with Python, please use the <b>contact</b> page.</p>
    </div>
    <h1 class="text-center">Experience</h1>
    <div class="divide10"></div>
    <div class="row text-center">
        <div class="col-sm-6 col-md-4">
            <div class="box">
                <img src="/plugins/images/companies/zaya-logo.png" width=130px height=80px>
                <br/>
                <br/>
                <h4>Zaya Labs</h4>
                <p>Full Stack Developer</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="box">
                <img src="/plugins/images/companies/ardent.png" width=100px height=100px>
                <br/>
                <br/>
                <h4>Ardent Isys</h4>
                <p>API and ETL developer</p>
            </div>
        </div>
        <div class="divide30 visible-sm"></div>
        <div class="col-sm-6 col-md-4">
            <div class="box">
                <img src="/plugins/images/companies/3crumbs.png" width=100px height=100px>
                <br/>
                <br/>
                <h4>3Crumbs</h4>
                <p>Web and Android Developer</p>
            </div>
        </div>
    </div>
    
</div>
